<div class="modal-header">
	<button type="button" class="close" data-ng-click="cancel()">&times;</button>
	<h2>Alias kategórie</h2>	
</div>
<div class="modal-body">
	<div class="form-horizontal" role="form">
		<div class="form-group">
			<label class="control-label col-md-2">Alias</label>
			<div data-ng-class="{'col-md-9 has-error': errorAlias,'col-md-9':!errorAlias}">
				<input id="txtAlias" type="text" class="form-control" data-ng-model="data.alias"  tooltip="Relatívna adresa webstránky pre kategóriu produktov"/>
			</div>
		</div>		
		<div class="form-group">
			<label class="control-label col-md-2">Jazyk</label>
			<div data-ng-class="{'col-md-8 has-error': errorLng,'col-md-8':!errorLng}">
				<div class="input-group col-md-4">
					<select id="txtLng" class="form-control" data-ng-model="data.lng" data-ng-options="o for o in lngs"  tooltip="Jazyk načítaných údajov"></select>
				</div>				
			</div>
		</div>				
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" data-ng-click="ok()">OK</button>
	<button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
</div>