<div class="container">
	<div class="pg-header">
	<h1>Strom kategórií <small>{{subtitle}} {{parentobj.name}}</small></h1>
	</div>
	
	<div style="width:50%;" class="pull-left">
		<div class="form-inline form-group col-md-12" role="form">
			<div class="form-group" data-ng-show="!showNew">
				<input type="text" class="form-control" id="txtSearch"
					placeholder="Vyhľadať" ng_model="filterOptions.filterText" />					
			</div>
			<button class="btn btn-default" data-ng-click="DelRow()"><span class="glyphicon glyphicon-minus"></span></button>
			<button type="button" class="btn btn-default" data-ng-click="ShiftUp()"><span class="glyphicon glyphicon-arrow-up"></span></button>
			<button type="button" class="btn btn-default" data-ng-click="ShiftDn()"><span class="glyphicon glyphicon-arrow-down"></span></button>
			<button type="button" class="btn btn-success" data-ng-click="Refresh()"><span class="glyphicon glyphicon-refresh"></span></button>			
			<button class="btn btn-default" data-ng-show="showNew" data-ng-click="goToState('categoryx',false)">Kategórie</button>								
		</div>
		<div class="gridStyle col-md-12" data-ng-grid="gridOptions" data-ng-dblclick="DlgOpen(false);"></div>
	</div>
	<div style="width:50%;" class="pull-left" data-ng-controller="CategoryCtrl" >
		<div class="form-inline form-group col-md-12" role="form">
			<div class="form-group">
				<input type="text" class="form-control" id="txtSearch"
					placeholder="Vyhľadať" ng_model="filterOptions.filterText" />
			</div>
			<button class="btn btn-default" data-ng-click="AddCategoryItem()"><span class="glyphicon glyphicon-plus"></span></button>
			<button type="button" class="btn btn-default" data-ng-click="ClearAndRefresh()"><span class="glyphicon glyphicon-asterisk"></span></button>
		</div>
		<div class="gridStyle col-md-12" data-ng-grid="gridOptions2" data-ng-dblclick="AddCategoryItem();"></div>
	</div>
	
</div>
