<div class="container">
	<div class="pg-header">
	<h1>Dodávatelia</h1>
	</div>
	
	<div class="form-inline form-group col-md-12" role="form">
		<button class="btn btn-primary" data-ng-click="DlgOpen(true)">Nový</button>
		<button class="btn btn-info" data-ng-click="DlgOpen(false)">Zmena</button>
		<button class="btn btn-danger" data-ng-click="DelRow()">Vymazať</button>
		<button class="btn btn-default" data-ng-click="goToState('banbra',true)"><span class="glyphicon glyphicon-ban-circle"></span> Zn</button>
		<button class="btn btn-default" data-ng-click="goToState('banpro',true)"><span class="glyphicon glyphicon-ban-circle"></span> Pr</button>				
		<button class="btn btn-default" data-ng-click="goToState('suppbra',true)"><span class="glyphicon glyphicon-random"></span> Zn</button>
		<button class="btn btn-default" data-ng-click="goToState('coefsu',true)"><span class="glyphicon glyphicon-wrench"></span> dK</button>
		<button class="btn btn-default" data-ng-click="goToState('coefsc',true)"><span class="glyphicon glyphicon-wrench"></span> kK</button>
		<button class="btn btn-default" data-ng-click="goToState('coefsp',true)"><span class="glyphicon glyphicon-wrench"></span> pK</button>
		<button type="button" class="btn btn-success" data-ng-click="Refresh()"><span class="glyphicon glyphicon-refresh"></span></button>
		
	</div>
	<div class="gridStyle col-md-10" data-ng-grid="gridOptions" data-ng-dblclick="DlgOpen(false);"></div>
</div>
